<!DOCTYPE html>
<html>

<head>
    <script src='https://cdn.firebase.com/js/client/2.4.2/firebase.js'></script>
    <script type="text/javascript" src="index.js"></script>

    <link href='/css/style.css' rel='stylesheet'>
    <title>My Express Site</title>
</head>

<body>
    
    <img src='/images/logo.png'/>
    
        <div class='links'>
            <a href='/'>Home Page</a>
            <div class='block'></div>
            <a href='/about'>About Us</a>
        </div>
    
    {{{body}}}
</body>

</html>