<h2>About Me</h2>
<p>I am very much interested in Coding and Motorcycles, this is my first web app with express and handlebars.</p>
<h1>Motorcycle Reviews</h1>
            <table id='table' style='width:100%' border=1>
                <tr>
                    <th>Model</th>
                    <th>Year</th>
                    <th>Engine size</th>
                    <th>Review</th>
                </tr>
                <tr>
                    <th>Suzuki DRZ</th>
                    <th>2008</th>
                    <th>434cc</th>
                    <th>Very reliable, fast, and lightweight, perfect commuter.</th>
                </tr>
                <tr>
                    <th>Triumph Daytona</th>
                    <th>2011</th>
                    <th>675cc</th>
                    <th>Extremely fast, expensive but reliable, designed for racing or Sunday rides</th>
                </tr>
                <tr>
                    <th>Honda CBR</th>
                    <th>1995</th>
                    <th>400cc</th>
                    <th>Quick and speedy, perfect intermediate motorcycle</th>
                </tr>
            </table>